@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
.menu-item-option {
    margin: 0 auto;
}
.menu-item-option a {
    font-size: 13px;
    font-family: 'Open Sans';
    opacity: 1;
}
.navbar-brand {
    margin-right: 0;
}
@media screen and (min-width: 992px) {
    .menu-option-alignement {
        margin-left: -150px;
    }
}
@media screen and (max-width: 991px) {
    .menu-option-alignement {
        text-align: center;
    }
}

.homePage {
    width: 100%;
    height: 360px;
    background: #E8E7E8 0% 0% no-repeat padding-box;
    font-family: 'Open Sans';
    display: table;
}
.homePage p {
    font-size: 28px;
    text-align: center;
    color: #676767;
    vertical-align: middle;
    display: table-cell;
    opacity: 1;
}